@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EDECE4;
    border: 10px solid #cbc6b9;
}    

main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 800px;
    margin-top: 77px;
}

span{
    display: flex;
    align-items: center;
    gap: 30px;
}

span {
    display: flex;
    font-size: 18px;
    color: black;
}

.paragraph{
    font-size: 18px;
    color: black;
}

.markerGreen{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: green;
}

.textHours{
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.textLocation{
    width: 318px;
    height: 82px;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textDecoration {
    color: #988c77;
    font-size: 18px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px
}

.textWrapper > img{
    width: 200px;
    height: 200px;
}

.textWrapper > h1{
    font-size: 160px;
}

main > img {
    width: 600px;
    height: 750px;
}

section {
    width: 1000px;
    height: 800px;
    display: flex;
}

.line{
    width: 255px;
    height: 2px;
    background-color: black;
}

.title-menu{
    display: flex;
    align-items: center;
    height: fit-content; /*tamanho da altura é o tamanho do conteudo*/
    gap: 50px;
    padding-left: 10px;
}

article > p, li > p {
    font-size: 18px;
    font-family: "PT Mono", monospace;
    color: black;
    height: 14px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    color: #988c77;
    gap: 10px;
    font-family: "Aref Ruqaa", serif;
    font-size: 18px;
    padding-bottom: 12px;

}

.main-menu > h3 {
    font-size: 24px;
    font-family: "Aref Ruqaa", serif;
    padding-bottom: 26px;
    padding-left: 6 0px;
}

menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    gap: 30px;
    margin-left: 60px;
}

menu > img{
    padding-top: 50px;
}

img {
    transition: transform 0.9s;
}

img:hover{
   transform: scale(1.05) ;
   transition: 0.3;
}